$colorMain: #db4f66;
$fontColor: black;
$colorIcon: #fff;
$backgr1: #f89cab;
$button: #db4566;
$font-color: #fff;
$backgrSaving: #7fd7eb;
$button-color: #109dbd;
$font-color: #fff;
$btn-hover-blue: #7fd7eb;
